<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1" />
    <title>[{{siteTitle}}] Confirm your post removal</title>
</head>
<body>
    <p>Hey <b>{{masterName}}</b>, we received a request about deleting your own post.</p>
    <hr>
    <p>You said in <a href="{{url}}" target="_blank">{{title}}</a> :</p>
    <p>{{content}}</p>
    <hr>
    <p>If this request is submitted by yourself, please click 
        <a href="{{confirmUrl}}" target="_blank">this</a> to confirm the operation.</p>
    <p>This email was sent automaticlly.</p>
</body>
</html>